// global color scheme
$first: #F2F1F0;
$second: #C7CBB1;
$third:#55acee;
$fourth:#A9A6A6;
$fifth:#A0D468;
body {
  background:$first;
}

#header {
  padding: 10px 0px;
  position:relative;
  left:10%;
  width:80%;

  .option{
    background:white;
    padding: 10px 10px;
    border-radius:5px;
    text-decoration:none;


    &.selected {
      background:$third;
      color:white;
    }
  }
}

#main-content {
  padding:25px 0px;
  margin:0px -15px;
  position:relative;
  left:10%;
  width:80%;
}
